---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greetings';
const pageTitle = "らめーんず";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Philosophy of the World</h2>
  <Greeting client:load messages={["こんにちは！","どうもっすぅ","はじぇまして","ようこそ"]} />
</BaseLayout>