
<header>
  <button class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="logo"><a href="/">Noodles</a></div>
  <nav class="nav" id="nav">
    <ul class="nav-list">
      <li><a href="/blog/">ブログ</a></li>
      <li><a href="/author">ライター</a></li>
      <li><a href="/tags">タグ</a></li>
    </ul>
  </nav>
</header>
