---
---

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
  }
  
  .logo a{
    text-decoration: none;

  }

  .nav {
    display: flex;
    margin-right: 60px;
    font-weight: 600;
  }

  .nav-list {
    display: flex;
    list-style: none;
  }

  .nav-list li {
    margin-left: 20px;
  }

  .nav-list a {
    text-decoration: none;
    font-size: 1rem;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    .logo {
      margin: 0 auto;
    }

    .nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
    }

    .nav.active {
      display: flex;
    }

    .nav-list {
      flex-direction: column;
      align-items: center;
    }

    .nav-list li {
      margin: 10px 0;
    }

    .hamburger {
      display: flex;
      position: absolute;
      left: 20px;
    }
  }
</style>
<header>
  <button class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="logo"><a href="/">Noodles</a></div>
  <nav class="nav" id="nav">
    <ul class="nav-list">
      <li><a href="/blog/">ブログ</a></li>
      <li><a href="/author">ライター</a></li>
      <li><a href="/tags">タグ</a></li>
    </ul>
  </nav>
</header>
