---
const { platform, username, section } = Astro.props;

let displayPlatform = platform;

let href = `https://www.${platform}.com/${username}`;
---

<style>
  a{
    ;
    text-decoration: none;
    margin: 010px;
  }
  a:hover{
    text-decoration: underline;
  }
</style>
<a href={href} target="_blank" rel="noopener">
  {displayPlatform}
</a>
