---
import BaseLayout from "./BaseLayout.astro";
import "../styles/markdown.css";
import Frontmatter from "../components/Frontmatter.astro";
import TableOfContents from "../components/TableOfContents.astro";
const { entry, headings } = Astro.props;
const data = entry.data;
---

<style>
  #blogContainer {
    width: 70%;
    margin: 0 auto;
  }
  @media (max-width: 710px) {
    #blogContainer {
      width: 100%;
      margin: 0 auto;
    }
  }
</style>
<BaseLayout pageTitle={data.title}>
  <div id="blogContainer">
    <Frontmatter data={data}/>
    <TableOfContents headings={headings}/>
    <div id="markdown">
      <slot />
    </div>
    <script>
      import "../scripts/markdown.js";
    </script>
  </div>
</BaseLayout>
